body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  flex-wrap: wrap;
  background-color: rgba(113, 14, 14, 0.776);
  color: rgb(255, 255, 255);
  gap: 20%;
  display: flex;
  justify-content: space-around;
}

.nav-items {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-items li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.hero-section {
  background-color: rgb(174, 174, 90);
  text-align: center;
  padding: 40px 0px;
}
.hero-section img {
  width: 300px;
  box-shadow: 7px 7px 7px 7px rgb(48, 132, 132);
}

.hero-section p {
  padding: 20px;
}

.projects-section {
  margin: 30px;
  text-align: center;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 20px 0px;
}

.project {
  width: 300px;
  padding: 10px;
  box-shadow: 0px 4px 8px darkgray;
  border-radius: 10px;
  overflow: hidden;
}

.project img{
  width: 300px;
}

.footer-items{
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
  padding: 20px;
  margin: 0px;
}

.footer-items li{
  cursor: pointer;
}

.footer-items li a {
  text-decoration: none;
  list-style: none;
  color: white;
}
